<%= will_paginate users , :previous_label => '', :next_label => '' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th><%= t 'admin.users.users.index.username' %></th>
      <th><%= t 'admin.users.users.index.email' %></th>
      <th><%= t 'admin.users.users.index.last-seen' %></th>
      <th><%= t 'admin.users.users.index.blocked-at' %></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'blocked_list_body', collection: users, as: :user %>
  </tbody>
</table>

<%= will_paginate users, :previous_label => '', :next_label => '' %>