<!-- Modal -->
<div class="modal fade" id="suspectModal" tabindex="-1" role="dialog" aria-labelledby="suspectModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_for :user, url: suspect_admin_users_user_path, method: :post do |f| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="suspectModalLabel"><%= t('admin.users.users.suspect-modal.title') %></h4>
        </div>
        <div class="modal-body">
            <%= content_tag(:div, t("admin.users.users.suspect-modal.notice-unblock"), class: "alert alert-warning") %>
        
            <%= simple_format t("admin.users.users.suspect-modal.notice") %>

            
            <div class="row">
              <div class="col-md-12">
                <%= f.label :suspected_note %>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-12">
                <%= f.text_area :suspected_note, class: 'form-control' %>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <%= button_tag t('admin.users.users.suspect-modal.close'), class: 'btn btn-default', 'type': 'button', 'data-dismiss': "modal" %>
          <%= button_tag t('admin.users.users.suspect-modal.submit'), class: 'btn btn-primary' %>
        </div>
      <% end %>
      </div>
  </div>
</div>