<% content_for :header do %>
  <%= javascript_include_tag 'users/user' %>
  <%= stylesheet_link_tag 'users/user' %>
<% end %>
<%= form_for [:users, user], :url => users_update_path do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <% if !user.new_record? %>
  <%= f.label :avatar %>
  <div class="row">
    <div class="col-md-3">
      <div id="avatar-thumbnail">
        <%= user.avatar_thumbnail_tag %>
      </div>
    </div>
    <div class="col-md-9">

      <%= f.fields_for :avatar do |a| %>
      <%= a.select :kind, UserAvatar.kinds.keys.map {|kind| [kind.titleize,kind]}, {}, { class: 'form-control' } %>
          
        <%= a.file_field :uri, class: 'form-control', style: (user.avatar.upload?) ? '' : 'display:none' %>
        
        <%= a.hidden_field :uri_cache %>
      <% end %>

    </div>
  </div>
<% end %>
  
  <%= f.label :username %>
  <%= f.text_field :username, class: 'form-control' %>
  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>
  <%= f.label :description %>
  <%= f.text_area :description, class: 'form-control' %>
  <p class="text-muted"><small><%= t 'user.form.help-text.description' %></small></p>
  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

  <%= f.hidden_field :time_zone %>
  
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>