<div class="container">
  <div class="row">
    <div  class="col-md-2">
      <%= render 'admin/users/shared/primary_sidebar' %>
    </div>
    <div class="col-md-10">
      <p class="text-xs-right">
        <button class="btn btn-default"  data-toggle="modal" data-target="#newRuleModal"><%= t 'admin.users.filters.index.add-filter' %></button>
      </p>

      <!-- Nav tabs -->
      <ul id="filter-tabs" class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#blacklist" role="tab"><%= t 'admin.users.filters.index.blacklist' %></a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="blacklist" role="tabpanel">
          <%= render partial: 'list', locals: {list: @all_blocked }%>
        </div>
      </div>

      <%= render 'modal_new_rule' %>
    </div>
  </div>
</div>



