<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
	<!--<![endif]-->
  <head>
    <title><%= full_title(yield(:title)) %></title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <%= render 'layouts/metas' %>
 
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="content container">
      <%= render 'layouts/admin/nav_bar' %>
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>