  <div class="col-md-12">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <%= link_to @user.username, '#', :class => 'nav-link disabled' %>
    </li>
    <li class="nav-item">
      <%= active_link_to t('users.links.dashboard.index'), admin_users_dashboard_index_path(@user.username_lower), :class => 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= active_link_to t('users.links.notifications.index'), admin_users_notifications_path(@user.username_lower) , :class => 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= active_link_to t('users.links.users.edit'), edit_admin_users_user_path(@user.username_lower), :class => 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= active_link_to t('users.links.preferences.index'), admin_users_preferences_path(@user.username_lower), :class => 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= active_link_to t('users.links.permissions.index'), admin_users_permissions_path(@user.username_lower), :class => 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= active_link_to t('users.links.logs.index'), admin_users_logs_path(@user.username_lower), :class => 'nav-link' %>
    </li>
  </ul>
</div>