<header class="header navbar navbar-fixed-top">
  
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <!-- logo -->
          <div id="logo" class="logo">
            <a href="index.html"><img id="logo_img" src="images/logo_cool_green.png" alt="<%= t 'site.title' %>"></a>
          </div>
      </div>
      <div class="col-md-6">
        <!-- header-right start -->
        <!-- ================ -->
        <div class="content-right clearfix">
          

        <div class="main-navigation  animated with-dropdown-buttons">

          <!-- navbar start -->
          <!-- ================ -->
          <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
            
            <% if logged_in? %>
              <ul class="nav navbar-nav  pull-md-right">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= t('user.links.account') %></a>
                  <div class="dropdown-menu">
                    <%= link_to t('user.links.profile'), users_user_path(current_user), class: 'dropdown-item' %>
                    <%= link_to t('user.links.settings'), edit_users_user_path(current_user), class: 'dropdown-item' %>
                    <% if staff_member? %>
                      <div class="dropdown-divider"></div>
                      <%= link_to t('admin.links.admin'), admin_dashboard_index_path,  class: 'dropdown-item' %>
                    <% end %>
                    <div class="dropdown-divider"></div>
                    <%= link_to t('user.links.log-out'), logout_path(current_user), method: 'delete', class: 'dropdown-item' %>
                  </div>
                  </li>
              </ul>
            <% else %>
              <%= link_to t('user.links.log-in'), login_path, class: 'btn btn-secondary btn-sm', role: 'button' %>
              <%= link_to t('user.links.sign-up'), signup_path, class: 'btn btn-secondary btn-sm', role: 'button' %>
            <% end %>



            </div>
          </nav>
          <!-- navbar end -->

        </div>
        <!-- main-navigation end -->  
        </div>
        <!-- header-right end -->
  
      </div>
    </div>
  </div>
  
</header>
<!-- header end -->